SECRET_KEY=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

DJANGO_ENV=

DEFAULT_SUPERUSER_USERNAME = 
DEFAULT_SUPERUSER_PASSWORD = 

# Development Database
DEV_DEFAULT_DB=
DEV_DB_NAME=
DEV_DB_USER=
DEV_DB_PASSWORD=
DEV_DB_HOST=
DEV_DB_PORT=

# Production Database
PROD_DEFAULT_DB=
PROD_DB_NAME=
PROD_DB_USER=
PROD_DB_PASSWORD=
PROD_DB_HOST=
PROD_DB_PORT=



EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=


GOOGLE_PLACE_ID=
GOOGLE_PLACE_API=
GOOGLE_SECRET_KEY=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_NAME=
CLOUDINARY_API_SECRET=